<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita qui ipsa quos, distinctio rem quidem ut nulla assumenda ratione dicta recusandae similique. Voluptatum incidunt, iure nam laboriosam voluptates placeat expedita?</p>
    <div class="btn">
        <button>enviar</button>
    </div>
</section>

<style>
    section{
        background-color: yellowgreen;
        text-align: center;
        padding: 20px;
    }
    button{
        padding: 10px;
        border-radius: 25px;
        border: none;
    }
</style>